.header {
  background-color: #850E35;
  color: white;
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0px;
  right: 0;
  z-index: 10;
}

.logo {
    font-family: cinzel, serif;
  font-size: 1.5rem;
  font-weight: bold;
}

